@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    background: #121212;
}

.container {
    width: 1024px !important;
    margin: 0 auto;
    padding: 0 20px
}

.router-link-active {
    color: rgb(74 222 128 / var(--tw-text-opacity)) !important;
    border-bottom: 1px solid rgb(74 222 128 / var(--tw-text-opacity))
}

html{
    overflow-x: hidden !important;
}

::selection {
    background-color: #4ade80;
    color: #121212
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4ade80
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #338d54;
}


@tailwind base;
@tailwind components;
@tailwind utilities;